html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: $black;
}

.main {
  flex-grow: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  width: 190px;
  font-weight: 700;
  color: #fff;
  background-color: $red;
  padding: 13px 26px;
  border-radius: 9px;
  border: 2px solid $red;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #d34137;
  }
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.3;
}

.copy {
  color: #989898;
  font-size: 15px;
}

.social {
  display: flex;

  &__item {
    margin-right: 18px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    @include area;
    border-radius: 12px;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 0 6px 2px rgba(#fff, 0.8);
    }

    &::after {
      left: 50%;
      width: 45px;
      transform: translate(-50%, -50%);
    }

    svg {
      width: 32px;
      height: 32px;
      fill: $green;
    }
  }
}