html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: $black-600;
}

.main {
  flex-grow: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  z-index: 100;

  &__img {
    width: 85px;
    height: 30px;
    object-fit: contain;
    object-position: center;
  }
}

.btn {
  width: 190px;
  font-weight: 700;
  color: #fff;
  background-color: $red;
  padding: 13px 26px;
  border-radius: 9px;
  border: 2px solid $red;
  transition: background-color 0.2s ease;
  @include line-clamp(1);
  text-align: center;

  @include max-w($md) {
    font-size: 14px;
  }

  &:hover {
    background-color: #d34137;
  }
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.3;
  color: $black;

  @include max-w($lg) {
    font-size: 44px;
  }

  @include max-w($md) {
    font-size: 30px;
  }

  @include max-w($sm) {
    font-size: 25px;
  }
}

.copy {
  color: #989898;
  font-size: 15px;
}

.social {
  display: flex;

  &__item {
    margin-right: 18px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    @include area;
    border-radius: 12px;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 0 6px 2px rgba(#fff, 0.8);
    }

    &::after {
      left: 50%;
      width: 45px;
      transform: translate(-50%, -50%);
    }

    svg {
      width: 32px;
      height: 32px;
      fill: $green;
    }
  }
}

.accordion {
  background-color: $white;
  padding: 30px 60px 30px 30px;
  border-radius: 12px;
  position: relative;
  transition: background-color 0.3s ease;

  @include max-w($sm) {
    padding: 20px 60px 20px 20px;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &--active {
      .accordion__rows {

        &::before,
        &::after {
          height: 28px;
          background-color: $red;
        }

        &::before {
          left: 11px;
        }

        &::after {
          right: 11px;
        }
      }
    }
  }

  &__descr {
    line-height: 1.3;
    font-size: 20px;
    font-weight: 700;
    text-align: left;

    @include max-w($md) {
      font-size: 16px;
    }
  }

  &__rows {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 32px;
    right: 32px;

    @include max-w($sm) {
      top: 20px;
      right: 20px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 15px;
      width: 2px;
      border-radius: 2px;
      background-color: $green;
      display: inline-block;
      transition: height 0.3s ease-in-out, transform 0.3s ease-in-out, left 0.3s ease-in-out, right 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    &::before {
      transform: rotate(-45deg);
      left: 7px;
      border-radius: 2px 2px 0 0;
    }

    &::after {
      transform: rotate(45deg);
      right: 7px;
      border-radius: 2px 2px 0 0;
    }
  }

  &__content {
    display: none;
    margin-top: 15px;
  }

  &__text {
    line-height: 1.3;
  }
}

#map {
  width: 100%;
  height: 400px;
  border-radius: 12px;
}

.form {
  background-color: $white;
  padding: 70px;
  border-radius: 10px 10px 0 0;
  max-width: 480px;
  width: 100%;

  @include max-w($md) {
    padding: 50px;
  }
  
  @include max-w($xs) {
    max-width: 100%;
    padding: 15px;
  }

  &__descr {
    font-weight: 700;
    line-height: 1.3;
    font-size: 30px;
    margin-bottom: 40px;
    max-width: 340px;
    color: $black;

    @include max-w($md) {
      margin-bottom: 30px;
      font-size: 24px;
    }
  }

  &__inputs {
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    margin-bottom: 10px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    width: 100%;
    background-color: transparent;
    padding: 10px 2px;
    outline: transparent;
    color: $green;
    font-weight: 600;

    &::placeholder {
      color: #989898;
      font-weight: 400;
      font-size: 15px;
    }

    &:focus {
      &~.form__input-line {
        &::before {
          width: 100%;
        }

        &::after {
          opacity: 0;
        }
      }
    }
  }

  &__input-line {
    width: 100%;
    height: 2px;
    background-color: transparent;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: $green;
      transition: width 0.2s ease-in-out;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #989898;
      transition: opacity 0.2s;
    }
  }

  &__agreement {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__label-checkbox {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;

    .form__input-checkbox {
      position: absolute;
      width: 1px;
      height: 1px;
      opacity: 0;
    }
  }

  &__label-checkbox .form__checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      width: 20px;
      height: 20px;
      border: 1px solid $green;
      left: 0;
      top: 0;
      background-color: #fff;
      transition: background-color 0.2s;
    }

    &::after {
      width: 10px;
      height: 10px;
      background-image: url(../images/icons/icon-checkbox.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.2s ease;
    }
  }

  &__input-checkbox:checked+.form__checkbox {
    &::before {
      background-color: $green;
    }

    &::after {
      opacity: 1;
    }
  }

  &__agreement-link {
    color: $green;
  }

  &__agreement-text {
    font-weight: 600;
    font-size: 13px;
  }

  &__btn {
    padding: 15px 18px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($black-600, 0.8);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s, opacity 0.3s ease-in-out;

  &--active {
    visibility: visible;
    opacity: 1;
  }
}

.form-header {
  border-radius: 10px;
  display: none;

  @include max-w($xs) {
    display: none;
  }

  &--active {
    display: block;
  }
}

.form-shipped {
  max-width: 630px;
  height: 535px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border-radius: 12px;
  padding: 60px;
  display: none;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: $green;
    margin-bottom: 20px;

    svg {
      width: 60px;
      height: 60px;
      fill: #fff;
    }
  }

  &__descr {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.3;
    color: $black;
    margin-bottom: 20px;
  }

  &--active {
    display: flex;
  }
}

.burger {
  display: none;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  z-index: 55;

  @include max-w($md) {
    display: flex;
  }

  &__row {
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: $green;
    position: relative;
    transition: height 0.1s ease;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      background-color: $green;
      left: 0;
      border-radius: 2px;
      transition: transform 0.2s ease;
    }

    &::before {
      width: 25px;
      top: -6px;
    }

    &::after {
      bottom: -6px;
      width: 16px;
    }
  }

  &--active {

    .burger__row {
      height: 0;

      &::before {
        width: 30px;
        transform: rotate(45deg) translateY(6px) translateX(1px);
      }

      &::after {
        width: 30px;
        transform: rotate(-45deg) translateY(-6px) translateX(1px);
      }
    }
  }
}

.menu-mobile {
  position: fixed;
  z-index: 50;
  top: 0;
  right: 0;
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  height: 100vh;
  padding: 90px 30px 30px 30px;
  transform: translateX(200%);
  transition: transform 0.4s ease-in-out;
  box-shadow: -8px 7px 30px 0px rgba($black, 0.15);

  @include max-w($sm) {
    max-width: 100%;
    padding: 90px 15px 15px 15px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__list {
    columns: 130px;
    margin-bottom: 30px;

    @include max-w($xs) {
      columns: 2;
    }
  }

  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-link {
    color: $black;
    @include area;
  }

  &__social {
    margin-bottom: 40px;
  }

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__link {
    padding-left: 28px;
    position: relative;
    font-weight: 700;
    color: $black;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    svg {
      position: absolute;
      width: 18px;
      height: 18px;
      fill: $green;
      left: 0;
    }
  }

  &--active {
    transform: translateX(0);
  }
}