@import 'fonts';
@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';
@import 'keyframes';

.header {

  &__main {
    background-color: $white;
  }

  &__main-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
  }

  &__main-list {
    display: flex;
  }

  &__main-item {
    margin-right: 60px;
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }

    svg {
      width: 18px;
      height: 18px;
      fill: $red;
    }
  }

  &__dropdown {
    position: relative;
    z-index: 20;
  }

  &__dropdown-button {
    cursor: pointer;
    padding-left: 22px;
    padding-right: 20px;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      width: 14px;
      height: 18px;
      background-image: url(../images/icons/marker.png);
      left: 0;
    }

    &::after {
      width: 14px;
      height: 10px;
      background-image: url(../images/icons/icon-chevron.svg);
      right: 0;
    }
  }

  &__dropdown-list {
    position: absolute;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    left: 0;
    top: 30px;
    width: 230px;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    &--active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__dropdown-item {
    width: 100%;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__dropdown-btn {
    padding: 0;
    font-weight: 700;
    color: $black-600;
    transition: color 0.2s ease;
    @include area;

    &:hover {
      color: $green;
    }
  }

  &__main-links {
    display: flex;
  }

  &__main-link {
    font-weight: 700;
    @include area;
    display: flex;
    align-items: center;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    svg {
      margin-right: 10px;
    }
  }

  &__bottom {
    background-color: #fff;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);
  }

  &__bottom-inner {
    padding: 25px 0;
  }

  &__bottom-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__bottom-item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__bottom-link {
    @include area;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $green;
    }
  }
}

.hero {
  background-repeat: no-repeat;
  background-size: 44%;
  background-position: right 50%;

  &__inner {
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__content {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 20px;
    line-height: 1.3;
  }

  &__line {
    background-color: $black-600;
    padding: 20px 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      .hero__line-text {
        animation-play-state: paused;
      }
    }
  }

  &__line-text {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    padding-left: 100%;
    animation: line 20s linear infinite;
  }
}

.addresses {
  padding: 75px 0;

  &__title {
    margin-bottom: 70px;
    text-align: center;
  }

  &__tabs {
    background-color: $white;
    padding: 70px 80px;
    border-radius: 10px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__btn {
    width: 190px;
    padding: 15px 28px;
    background-color: #fff;
    font-weight: 700;
    margin-right: 30px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: $green;
      color: #fff;
    }

    &:last-child {
      margin-right: 0;
    }

    &--active {
      background-color: $green;
      color: #fff;
    }
  }

  &__content {
    display: none;

    &--active {
      display: block;
    }
  }

  &__content-list {
    display: flex;
    justify-content: center;
  }

  &__content-item {
    padding-top: 45px;
    position: relative;
    max-width: 260px;
    width: 100%;
    text-align: center;
    margin: 0 15px;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/icons/icon-marker.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 32px;
      height: 32px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__content-text {
    line-height: 1.3;
    font-size: 20px;
    font-weight: 700;
  }
}

.footer {
  background-color: $black-600;
  padding: 85px 0 145px;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 45px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__bottom {
    font-weight: 700;
    line-height: 1.3;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    color: #fff;
    @include area;
  }

  &__connection {
    display: flex;
  }

  &__links {
    display: flex;
    align-items: center;
    margin-right: 60px;
  }

  &__bottom-link {
    display: flex;
    color: #fff;
    font-size: 20px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    svg {
      width: 24px;
      height: 24px;
      fill: $green;
      margin-right: 10px;
    }
  }

  &__email {
    font-size: 30px;
    color: $green;
    @include area;
  }
}